# ==================== General ====================
COMPOSE_PROJECT_NAME=crypto-arb-dev

# ==================== Postgres ====================
# Primary
PRIMARY_DATABASE_HOST=postgres
PRIMARY_DATABASE_NAME=my_db
PRIMARY_DATABASE_PORT=5432
PRIMARY_DATABASE_URL=jdbc:postgresql://postgres:5432/my_db
PRIMARY_DATABASE_USERNAME=
PRIMARY_DATABASE_PASSWORD=

# Replica
REPLICA_DATABASE_HOST=postgres
REPLICA_DATABASE_NAME=my_db
REPLICA_DATABASE_PORT=5432
REPLICA_DATABASE_URL=jdbc:postgresql://postgres:5432/my_db
REPLICA_DATABASE_USERNAME=
REPLICA_DATABASE_PASSWORD=

# ==================== Redis ====================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_TIMEOUT=1s
REDIS_CONNECT_TIMEOUT=2s

# ==================== Backend ====================
JWT_SECRET=
COINMARKETCAP_API_KEY=
