# ==================== General ====================
COMPOSE_PROJECT_NAME=crypto-arb-dev

# ==================== Postgres ====================
DB_HOST=postgres
DB_INTERNAL_PORT=5432
DB_EXTERNAL_PORT=5433
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# ==================== Backend ====================
JWT_SECRET=
COINMARKETCAP_API_KEY=
